
@{
    ViewData["Title"] = "BlogListExcell";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>BlogListExcell</h1>
<br />
@*<button class="btn btn-primary" onclick="DownloadExcellBlogList">Excell Listesini İndir</button>*@
<a href="/Admin/Blog/ExportStaticExcelBlogList">Excell Listesini İndir</a>
@*<script>
    function DownloadExcellBlogList() {
        window.open("/Admin/Blog/ExportStaticExcelBlogList");
    }
</script>*@

