
@{
    ViewData["Title"] = "BlogTitleListExcell";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>BlogTitleListExcell</h1>
<br />
<a href="/Admin/Blog/ExportDynamicExcelBlogList">Excell Listesini İndir</a>